<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Conpatible" content="IE-edge">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Listando Pessoas</title>
    </head>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do Usuario</th>
                    <th scope="col">Telefone</th>
                </tr>
            </thead>
            <tbody>
                <tr data-th-each="p : ${listaPessoas}">
                    <td data-th-text="${p.id}"></td>
                    <td data-th-text="${p.nome}"></td>
                    <td data-th-text="${p.telefone}"></td>
                    <!-- Pega os atributos do objeto, o p pode ser qualquer nome, é semelhante
                    a um for, o p está iteirando sobre cada atributo.
                
                    Caso for adicionar um novo input, alterar na classe Pessoa e adicionar um get e set para cada novo atributo,
                    e no pessoa controller no request param, cada request param ira receber um atributo-->
                </tr>  
            </tbody>
        </table>    
    </body>
</html>
